{% extends "admin_core/base/base_admin.html" %}
{% block content %}
<div class="container my-4">
    <h1>Configure Settings</h1>
    <form method="post">
        {% csrf_token %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#jwt-settings">JWT Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#database-settings">Database Settings</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="jwt-settings">
                <div class="form-group">
                    <label>Access Token Lifetime</label>
                    <input type="text" name="ACCESS_TOKEN_LIFETIME" value="{{ settings.JWT_SETTINGS.ACCESS_TOKEN_LIFETIME }}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Refresh Token Lifetime</label>
                    <input type="text" name="REFRESH_TOKEN_LIFETIME" value="{{ settings.JWT_SETTINGS.REFRESH_TOKEN_LIFETIME }}" class="form-control">
                </div>
                <div class="form-check">
                    <input type="checkbox" name="ROTATE_REFRESH_TOKENS" class="form-check-input" {% if settings.JWT_SETTINGS.ROTATE_REFRESH_TOKENS %}checked{% endif %}>
                    <label class="form-check-label">Rotate Refresh Tokens</label>
                </div>
            </div>
            <div class="tab-pane fade show active" id="database-settings">
        <div class="form-group">
            <label>Database Engine</label>
            <select name="DB_ENGINE" class="form-control">
                <option value="django.db.backends.postgresql" {% if settings.DATABASE_SETTINGS.DB_ENGINE == "django.db.backends.postgresql" %}selected{% endif %}>PostgreSQL</option>
                <option value="django.db.backends.sqlite3" {% if settings.DATABASE_SETTINGS.DB_ENGINE == "django.db.backends.sqlite3" %}selected{% endif %}>SQLite</option>
                <option value="django.db.backends.mysql" {% if settings.DATABASE_SETTINGS.DB_ENGINE == "django.db.backends.mysql" %}selected{% endif %}>MySQL</option>
                <!-- Ajouter d'autres moteurs si nécessaire -->
            </select>
        </div>
        <div class="form-group">
            <label>Database Name</label>
            <input type="text" name="DB_NAME" value="{{ settings.DATABASE_SETTINGS.DB_NAME }}" class="form-control">
        </div>
        <!-- Ajouter les autres champs de Database Settings ici -->
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save Settings</button>
    </form>
</div>
{% endblock %}
