<!-- manage_charts.html -->
{% extends "admin_core/base/base_admin.html" %}
{% block title %}Manage Charts{% endblock %}
{% block content %}
<h2>Create a New Chart</h2>
<form method="post" id="chart-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Chart</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_model').change(function() {
            var modelName = $(this).val();
            if (modelName) {
                $.ajax({
                    url: '{% url "get_fields" %}',
                    data: { 'model': modelName },
                    success: function(data) {
                        var fieldSelect = $('#id_field');
                        fieldSelect.empty();
                        data.fields.forEach(function(field) {
                            fieldSelect.append(new Option(field.verbose_name, field.name));
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock %}
